# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=your_password
DATABASE_DB=gadget_nova

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here

# SSL Commerz Configuration
SSL_STORE_ID=gadgetnova2live
SSL_STORE_PASS=6536491D077B346331
SSL_BASE_URL=https://securepay.sslcommerz.com

# Application URLs
BACKEND_URL=https://api.relovohr.com
FRONTEND_URL=http://relovohr.com:6020

# Optional: Sandbox URLs (for testing)
SSL_SANDBOX_URL=https://sandbox.sslcommerz.com

# Bulk SMS Configuration
BULKSMS_API_KEY=b7CYeBHsgP79Rv0ShHhM
BULKSMS_SENDER_ID=8809617619401

# bKash Payment Gateway Configuration
BKASH_USERNAME=01939300301
BKASH_PASSWORD=f)H!1D68W[C
BKASH_APP_KEY=6jgo4Di91X9eD1SSCsYxF9Kytc
BKASH_APP_SECRET=MI70933Udo0jffyiZPNrVBfjm4WtOuxNutVjqDJMSZPBR9PDH1e7

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Mailer Configuration (Titan Mail)
TITAN_USER=support@gadgetnovabd.com
TITAN_PASSWORD=Nova@1234 

ES_NODE=https://elasticsearch:9200
ES_USERNAME=elastic
ES_PASSWORD=yourElasticPassword
ES_REJECT_UNAUTHORIZED=false